body{
background-color: rgb(133, 132, 130);
align-items: center;
}

p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: center;
}

.knapp{
    display: flex;
    align-items: center;
    justify-content: center;
    
}